*{
    ;
}

body {
  background-color: #F3EBF5;
}

h1 {
    border-bottom: 4px solid black;
    background-color: #E1C9F5;
    text-align: center;
}

img {
    border: black solid;
    margin-right: 60px;
}

ul {

}

li {

}

p {
    border: black dashed

}

#header {
  
}

#content{
  
}

#text {
  
}

#text p {
  
}

#text p:first-child {
    border: black dashed;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image:url("");
}

#text p:last-child {
    border: black dashed;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{

}

#footer a{

}

#footer a:hover{

}
#image {
    text-align: right;
}

@media all and (max-width: 500px) {

}
