* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    text-align: center;
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

h1 {
    background-color:grey;
    color:white ;
    border-left-width: 9px;
    border-left-style: solid;
    border-left-color: red;
}

img {
    height: 300px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: black 5px 5px 15px
}

ul {
    list-style-type:none;
}

li {
    display: inline;
    border-style: solid;
    border-width: 1px;
}

 a:visited {
    
 }

.playfair-display-font {

}