body{
    margin: 0;
    padding: 0;
    background-color: blue;
}

#menu{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-textura-cuadrados-rojos_476363-687.jpg?semt=ais_hybrid&w=740&q=80);
    }


#menu li {
    display:inline;
}

#menu li a{
    padding: 8px 16px ;
    border: 3px black dotted;
    text-decoration: none;
    background-color: #B4FAFA;
}

#menu li a:hover{
    background-color: #E78CFF;
}

#menu ul li:first-child a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu ul li:last-child a{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header{
    height: 200px;
    margin-top: 55px;
    border: black solid 2px;
}

header img {
    background-color: white;
    float: left;
}

header h1 {
    color: white;
    border: solid black 2px;
    text-align: center;
}

.content{
    background-color: grey;
    height: 600px;
    border: black solid 2px;
    overflow: hidden;
}

.content .contenedor{
    width: 80%;
    float: left;
    height: 600px;
    background-color: white;
}

.content .parte1 {
    
}

.content .parte2{

}

aside{}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-textura-cuadrados-rojos_476363-687.jpg?semt=ais_hybrid&w=740&q=80);
}

