body{
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapercave.com/wp/wp15336698.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#menu{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-textura-cuadrados-rojos_476363-687.jpg?semt=ais_hybrid&w=740&q=80);
    border: dashed black 2px;
    }


#menu li {
    display:inline;
}

#menu li a{
    padding: 8px 16px ;
    border: 3px black dotted;
    text-decoration: none;
    background-color: white;
}

#menu li a:hover{
    background-color: #E78CFF;
}

#menu ul li:first-child a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu ul li:last-child a{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header{
    height: 200px;
    margin-top: 55px;
}

header img {
    background-color: white;
    float: left;
}

header h1 {
    color: black;
    text-align: center;
    background-color: white;
    display: inline;
}

.content{
    background-color: grey;
    height: 600px;
    overflow: hidden;
}

.content .contenedor{
    width: 80%;
    float: left;
    height: 600px;
    background-color: white;
    border-right: black 2px dashed;
}

.content .parte1 {
    border: black solid 2px;
    margin: 20px 20px 20px 20px
    
}

.content .parte2{
    border: black solid 2px;
    margin: 20px 20px 20px 20px
}

aside{}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-textura-cuadrados-rojos_476363-687.jpg?semt=ais_hybrid&w=740&q=80);
}

